<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakue.oburie">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".OburieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oburie">
        <activity android:name=".ui.joboffer.searchlist.JobOfferSearchActivity"></activity>
        <activity
            android:name=".ui.picker.SelectPickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Transparent" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="@string/kakao_native_app_key" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.chat.appointment.AppointmentActivity" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.jobhunter.searchlist.JobHunterSearchActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.review.answer.ReviewAnswerActivity" />
        <activity android:name=".ui.review.list.ReviewListActivity" />
        <activity android:name=".ui.joboffer.upload.JobOfferUploadActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDh46bSu29H9jd6VHH3osix1H40RqlOa94" />

        <activity android:name=".ui.joboffer.detail.JobOfferDetailActivity" />
        <activity android:name=".ui.userprofile.UserProfileActivity" />
        <activity
            android:name=".ui.jobhunter.location.SelectLocationActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".ui.jobhunter.list.JobhunterActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lakue.oburie.free"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

    </application>

</manifest>